header {
  height: 10vh;
}
.container {
  width: 100%;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  line-height: 3.5rem;
  padding: 0 1.2rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.2s ease;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);
}
.btn:visited,
.btn:active {
  text-decoration: none;
}
.btn__info {
  background: #5865f2;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}
.btn__info:disabled {
  opacity: 0.65;
}
.btn__info:hover {
  background: #7983f4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.col {
  background: #262626;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.35);
  padding: 2rem;
}
.col-1 {
  border-radius: 2rem 0 0 2rem;
}
.col-2 {
  border-radius: 0 2rem 2rem 0;
}
.content {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: #fff;
}
.userid-label {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.userid-input {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
}
.userid-input:focus {
  outline: 2.5px solid #5865f2;
}
.avatar {
  border-radius: 100%;
  transition: all 0.2s ease;
}
.avatar:hover {
  opacity: 0.65;
}
.banner {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.2s ease;
}
.banner:hover {
  opacity: 0.65;
}
p:not(:last-child) {
  margin: 0 0 1rem;
}
.userid {
  color: #ff71ce;
}
.username {
  color: #01cdfe;
}
.badge {
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -1.5rem;
}
.created {
  color: #05ffa1;
}
@media (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
  .row {
    display: block;
  }
  .col-1 {
    text-align: center;
    border-radius: 2rem 2rem 0 0;
  }
  .col-2 {
    border-radius: 0 0 2rem 2rem;
  }
}
.icon {
  margin-right: 0.65rem;
}
.loading {
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.error {
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: red;
}
